<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  </head>

  <body>
    <% include ./partials/_header %>

    <h1>Past Games</h1>

    <h2>Goofspiel</h2>
    <table>
      <tr>
        <th>Winner</th>
        <th>Loser</th>
        <th>Date</th>
      </tr>
      <% for(let record of records) { %>
        <% if (record.game === 'Goofspiel') { %>
          <tr>
            <td><%= record.winner %></td>
            <td><%= record.loser %></td>
            <td><%= record.date %></td>
          </tr>
        <% } %>
      <% } %>
    </table>

    <br>

    <h2>War</h2>
    <table>
      <tr>
        <th>Winner</th>
        <th>Loser</th>
        <th>Date</th>
      </tr>
      <% for(let record of records) { %>
        <% if (record.game === 'War') { %>
          <tr>
            <td><%= record.winner %></td>
            <td><%= record.loser %></td>
            <td><%= record.date %></td>
          </tr>
        <% } %>
      <% } %>
    </table>

    <br>

    <h2>Speed</h2>
    <table>
      <tr>
        <th>Winner</th>
        <th>Loser</th>
        <th>Date</th>
      </tr>
      <% for(let record of records) { %>
        <% if (record.game === 'Speed') { %>
          <tr>
            <td><%= record.winner %></td>
            <td><%= record.loser %></td>
            <td><%= record.date %></td>
          </tr>
        <% } %>
      <% } %>
    </table>

  </body>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</html>






